

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    list-style: none;
    text-decoration: none;
}

.container {
    background-color: rgba(0, 0, 0, 0.61);
    width: 100vw; 
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.logo, .sociais {
    width: 25%;
}

.logo img {
    width: 250px;
    cursor: pointer;
}

.menu {
    width: 30%;
}

.nav-bar a {
    color: #fff;
    padding-right: 50px;
    font-size: 1.3em;
    position: relative;
}

.nav-bar a::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.nav-bar a:hover::after {
    width: 30px;

}

.sociais button {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    cursor: pointer;
}

.sociais button i {
    font-size: 30px;
    color: #fff;
}
