* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Tac One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 2%, rgba(9, 109, 121, 0.9023984593837535) 36%, rgba(0, 212, 255, 1) 70%, rgba(0, 224, 255, 0.989233193277311) 87%);
}

form, div {
    width: 40%;
    min-width: 350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    padding: 20px;
}

h1, p {
    text-align: center;
    justify-content: center;
    margin: 10px;
}

input, textarea {
    min-width: 320px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;
}

textarea {
    height: 200px;
    padding-top: 10px;
}

button {
    background-color: #1778e4;
    display: block;
    margin: 20px auto;
    height: 40px;
    min-width: 320px;
    width: 70%;
    border-radius: 8px;
    border: 1px solid #c1c1c1;;
    color: white;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #070fec;
}

button:active {
    opacity: 0.6;
}
