* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(99, 113, 128);
    height: 100vh;
    width: 100vw;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.item {
    background-color: rgb(91, 40, 138);
    margin: 10px;
    color: white;
    font-size: 1.6em;
    width: 100px;
    height: 100px;
}

