* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
    background: linear-gradient(90deg,
    #95A0BF,
    #6D758C,
    #313540);
    font-family: sans-serif;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    .music-container {
        margin-top: 20px;
    }
    

    header {
        h1 {
            color: white;
            text-align: center;
            padding: 60px;
        }

        img {
            width: 450px;
        }
    }

    section {
        .below-cover {
            background-color: red;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;

            .like {
                font-size: 1.5em;
            }
        }

        .buttom-container {
            background-color: blue;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 1.5em;

            .previous, .play, .next{
                font-size: 2em;
                font-weight: 300;
            }
        }

    }
    
}




