* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #101113;
    
    header {
        background-color: red;
        
        display: flex;
        align-items: center;
        justify-content: space-between;


}