* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --border: rgba(255, 255, 255, 0.5);
}

body, button, a, input {
  color: #fff;
  font: 400 1rem "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.616);
}

.card {
  padding: 32px;
  border: 1px solid var(--border);
  border-radius: 12px;
  
}

form {
  display: flex;
  align-items: center;
  column-gap: 20px;

  div {
    flex: 1;

    display: flex;
    align-items: center;
    column-gap: 8px;

    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--border);
  }

  i {
    font-size: 1.3em;
  }

  input {
    background: transparent;
    border: none;
    outline: none;


  }
}